 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Specializations are machine learning, data analysis and also very interested in related applications, and statistical modeling.
  I am on the fence between statistics and computer science, and consider myself somewhere between a data scientist and a software engineer. I am very interested in technologies for extracting and massaging data, and using data to paint a picture of some metric of interest. For me, a productive work environment is one where I am challenged daily in an intellectual sense. I love exploring new concepts, new applications and new technologies that I can integrate into my position. I crave a culture where I am part of an energetic team that values each other as team members and a culture that encourages creativity, leadership, teamwork, thinking outside of the box and is reasonably flexible with its team members' needs. Possible roles I would enjoy are, but not limited to: data scientist (with an emphasis on modeling and machine learning rather than analytics), machine learning engineer, Software engineer.
</p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
    </div>
    <div class="tech">
      <h3>Platform</h3>
      <i class="devicon-google-plain-wordmark colored"></i>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
    </div>

    <div class="tech">
      <h3>Tools</h3>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
    </div>
    <div class="tech">
      <h3>Data</h3>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark"></i>
      <i class="devicon-sequelize-plain-wordmark colored"></i>
    </div>
</div>
