<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/sys_diag.svg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Yelp dataset challenge </h3>
    <ul>
      <li> Natural Language Processing </li>
      <li> Singular Value Decomposition </li>
      <li> Predictive Model Developing </li>
    </ul>
    <p>To be able to classify user reviews and label them as positive or negative can be very helpful for businesses
    like Yelp.com to make better recommendations. In this project I used Yelp's user reviews and built
    classifiers to label each review.</p>
    <a class="project-link" href="/projects/2018-05-22/Yelp-Dataset-Challenge">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cencus.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> US Census Bureau Dataset</h3>
    <ul>
      <li> Feature Selection</li>
      <li> Data Transformation</li>
      <li> Data Mining</li>
    </ul>
    <p>To find out which factors play important role in having high income, I analyzed the data gathered by the US Census Bureau.
      And I built several models to predict if a person with certain information have high income or low.
      The results are pretty interesting. </p>
    <a class="project-link" href="/Yelp_dataset_competition">Check it out</a>
  </div>
</div>
